# ===============================
# Claves de API de los Modelos
# ===============================
GEMINI_API_KEY=aqui_va_tu_api_key
OPENAI_API_KEY=aqui_va_tu_api_key

# ===============================
# Configuración del Agente Activo
# ===============================
# Descomentar (quitar el #) solo de uno de los dos modelos que se requiera usar:

AI_MODEL=openai:gpt-4o-mini
#AI_MODEL=gemini-2.0-flash
